@model FooterModel
@using Nop.Web.Extensions
@using Nop.Web.Models.Common;
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
<div class="row row-partner">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="item-partner">
                    <a href="#"><img alt="" src="/Themes/ChonVeV1/Content/images/icon/a-sao1.png" /></a>
                    <a href="#">Đảm bảo giá tốt nhất</a>
                    <p>Chính sách về giá của chúng tôi giúp bạn có thể đi đến bất cứ điểm nào trên đất nước với chi phí thấp nhất.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-partner">
                    <a href="#"><img alt="" src="/Themes/ChonVeV1/Content/images/icon/a-sao2.png" /></a>
                    <a href="#">Đặt vé dễ dàng</a>
                    <p>Tìm kiếm, lựa chọn và đặt vé – cách nhanh nhất để tiết kiệm và có một hành trình như ý muốn</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-partner">
                    <a href="#"><img alt="" src="/Themes/ChonVeV1/Content/images/icon/a-sao3.png" /></a>
                    <a href="#">Chăm sóc khách hàng 24/7</a>
                    <p>Nếu có thắc mắc hay gặp khó khăn gì, đừng ngần ngại, hãy gọi cho chúng tôi theo số 0918737899</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="item-partner">
                    <a href="#"><img alt="" src="/Themes/ChonVeV1/Content/images/icon/a-sao4.png" /></a>
                    <a href="#">Sự hài lòng của khách hàng</a>
                    <p>Nếu dịch vụ của chúng tôi đã đáp ứng được mong đợi của khách hàng, hãy dành cho chúng tôi một sự động viên, khích lệ</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer-->
<div class="row row-footer">
    <div class="container">
        <div class="row">
            <div class="content-footer">
                <div class="col-md-3">
                    <ul class="ft-col">
                        <li><a href="/about-us">Giới thiệu</a></li>
                        <li><a href="/News/">Tin tức</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="ft-col">
                        <li><a href="#">Đối tác</a></li>
                        <li><a href="/tuyen-dung">Tuyển dụng</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="ft-col">
                        <li><a href="/contactus-2">Liên hệ</a></li>
                        <li><a href="/conditions-of-use">Điều khoản</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="mx-lk">
                        <li>Kết nối chọn vé</li>
                        <li class="fb-lk">
                            <a class="fb" href="@Model.FacebookLink"></a>
                            <a class="g" href="@Model.GooglePlusLink"></a>
                        </li>
                    </ul>
                </div>
                
            </div>
		<div class="content-footer">		
<div class="col-md-12">

                    <div class="coppy-rigth">
			<div class="row">
<div class="col-md-2">
<span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=vUdCPCrZtLE3uXnS0F1unhggVQI7Q7WPFEm2agFYCCSWH54d9fTH3mksOVHX"></script></span>
</div>
<div class="col-md-10">
 <pre>
                        2015 Chọn vé, mọi bản quyền được bảo hộ.
                        Tên công ty: CÔNG TY TRÁCH NHIỆM HỮU HẠN CHỌN VÉ.
                        Giám đốc: Ông Lương Tú Tuấn.
                        Số điện thoại: 04 6293 8860.
                        Địa chỉ đăng ký kinh doanh: Số 2, Ngõ 69 Chùa Láng, Phường Láng Thượng, Quận Đống Đa, Thành Phố Hà Nội.
                        Giấy chứng nhận ĐKKD số 0106992499 do Sở KH&ĐT TP.Hà Nội cấp lần đầu ngày 15/9/2015.
                         </pre>
</div>
			</div>
                       
                    </div>
                </div>
</div>
        </div>
    </div>
</div>
<!--/Footer-->