<div class="row row-bd">
    <div class="col-md-12 row-cbuoc">
        <div class="container">
            <div class="tick">4 bước cơ bản để đặt vé</div>
            <div class="col-md-3">
                <div class="box-round-x">
                    <div class="round-x">Tìm chuyến đi</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box-round-x">
                    <div class="round-x">Chọn ghế</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box-round-x">
                    <div class="round-x">Nhập thông tin & thanh toán</div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box-round-x">
                    <div class="round-x">Nhận vé</div>
                </div>
            </div>
        </div>
    </div>
</div>