<div class="row row-content">
    <div class="container">
        <div class="row row-why">
            <div class="col-md-6">
                <div class="no-done">
                    <div class="img-done"><img alt="" src="/Themes/ChonVeV1/Content/images/icon/ft1.png" /></div>
                    <div class="ct-done">
                        <a href=""><strong>Tại sao mua vé từ chúng tôi ?</strong></a>
                        @Html.Action("BlogsHome", "Blog")
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="no-done">
                    <div class="img-done"><img alt="" src="/Themes/ChonVeV1/Content/images/icon/ft2.png" /></div>
                    <div class="ct-done">                       
                       @Html.Action("TinTucHome","News")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>