<div class="row">
    <div class="col-md-12 identity">
        <div class="container">
            <ul class="it-search">
                <li class="active"><span>1</span>Ngày đi</li>
                <li><span>2</span>Ngày về</li>
                <li><span>3</span>Đặt vé</li>
                <li><span>4</span>Thanh toán</li>
                <li><span>5</span>Nhận vé</li>
            </ul>
        </div>
    </div>
    <div class="col-md-12 map-site">
        <div class="container">
            <div class="row row-sp">
                <div class="col-md-6">
                    <div class="map-bus">
                        <span>Chuyến đi của bạn từ</span>
                        <strong>Hà Nội đến Thanh Hóa</strong>
                        <span>ngày 12 tháng 11 năm 2015</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="support">
                        <strong>Cần hỗ trợ?</strong>
                        <span>support@chonve.vn | +84 918 .377.989</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-content">
    <div class="container">
        <div class="col-md-3">
            <div class="box-refine">
                <div class="title-refine">
                    Lọc theo nhà xe
                </div>
                <div class="content-refine">
                    <ul>
                        <li><label><input type="checkbox" value="" />Hoàng Long</label></li>
                        <li><label><input type="checkbox" value="" />Mai Linh</label></li>
                        <li><label><input type="checkbox" value="" />Kumho</label></li>
                        <li><label><input type="checkbox" value="" />Hoàng Yến</label></li>
                    </ul>
                </div>
            </div>
            <div class="box-refine">
                <div class="title-refine">
                    Tiện ích
                </div>
                <div class="content-refine">
                    <ul>
                        <li><label><input type="checkbox" value="" />Wife</label></li>
                        <li><label><input type="checkbox" value="" />Khăn lạnh</label></li>
                        <li><label><input type="checkbox" value="" />Nước uống</label></li>
                        <li><label><input type="checkbox" value="" />TV</label></li>
                        <li><label><input type="checkbox" value="" />Bữa ăn</label></li>
                        <li><label><input type="checkbox" value="" />Xạc pin</label></li>
                    </ul>
                </div>
            </div>
            <div class="box-refine">
                <div class="title-refine">
                    Thời gian đi
                </div>
                <div class="content-refine">
                    <ul>
                        <li><label><input type="checkbox" value="" />Buối sáng (0:00 - 11:59)</label></li>
                        <li><label><input type="checkbox" value="" />Buổi chiều (12:00 - 18:59)</label></li>
                        <li><label><input type="checkbox" value="" />Buổi tối (19:00 - 23:59)</label></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="resul-search">
                <div class="nav-resul">
                    <ul>
                        <li data-active=".nav1" class="active">Sắp xếp theo thời gian xuất phát</li>
                        <li data-active=".nav2">Sắp xếp theo giá</li>
                        <li data-active=".nav3">Sắp xếp theo thời gian hành trình</li>
                    </ul>
                </div>
                <div class="total-resul">Có 43 kết quả</div>
                <div class="tab-resul">
                    <div class="tab nav1 active">
                        <div class="row row-tb">
                            <div class="col-md-5">
                                <div class="begin-destination">
                                    <span>12h:00 Xuất phát từ Hà Nội 11111</span>
                                    <strong><i class="icon-long-arrow-down"></i> Bến xe Nước Ngầm</strong>
                                    <span>15:00 Đến Thanh Hóa</span>
                                    <strong>Bến xe Phía Bắc</strong>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="hangxe">
                                    <span>Hãng xe</span>
                                    <strong>Hoàng Long</strong>
                                    <a href="#">Xem chi tiết (light Box)</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="price-saerch">
                                    <span>Giá vé</span>
                                    <strong>356.000 VNĐ</strong>
                                    <i>(Chưa bao gồm VAT)</i>
                                    <a href="#">Chọn vé này</a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-tb">
                            <div class="col-md-5">
                                <div class="begin-destination">
                                    <span>12h:00 Xuất phát từ Hà Nội 11111</span>
                                    <strong><i class="icon-long-arrow-down"></i> Bến xe Nước Ngầm</strong>
                                    <span>15:00 Đến Thanh Hóa</span>
                                    <strong>Bến xe Phía Bắc</strong>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="hangxe">
                                    <span>Hãng xe</span>
                                    <strong>Hoàng Long</strong>
                                    <a href="#">Xem chi tiết (light Box)</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="price-saerch">
                                    <span>Giá vé</span>
                                    <strong>356.000 VNĐ</strong>
                                    <i>(Chưa bao gồm VAT)</i>
                                    <a href="#">Chọn vé này</a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-tb">
                            <div class="col-md-5">
                                <div class="begin-destination">
                                    <span>12h:00 Xuất phát từ Hà Nội 11111</span>
                                    <strong><i class="icon-long-arrow-down"></i> Bến xe Nước Ngầm</strong>
                                    <span>15:00 Đến Thanh Hóa</span>
                                    <strong>Bến xe Phía Bắc</strong>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="hangxe">
                                    <span>Hãng xe</span>
                                    <strong>Hoàng Long</strong>
                                    <a href="#">Xem chi tiết (light Box)</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="price-saerch">
                                    <span>Giá vé</span>
                                    <strong>356.000 VNĐ</strong>
                                    <i>(Chưa bao gồm VAT)</i>
                                    <a href="#">Chọn vé này</a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-tb">
                            <div class="col-md-5">
                                <div class="begin-destination">
                                    <span>12h:00 Xuất phát từ Hà Nội 11111</span>
                                    <strong><i class="icon-long-arrow-down"></i> Bến xe Nước Ngầm</strong>
                                    <span>15:00 Đến Thanh Hóa</span>
                                    <strong>Bến xe Phía Bắc</strong>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="hangxe">
                                    <span>Hãng xe</span>
                                    <strong>Hoàng Long</strong>
                                    <a href="#">Xem chi tiết (light Box)</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="price-saerch">
                                    <span>Giá vé</span>
                                    <strong>356.000 VNĐ</strong>
                                    <i>(Chưa bao gồm VAT)</i>
                                    <a href="#">Chọn vé này</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab nav2">
                        <div class="row row-tb">
                            <div class="col-md-5">
                                <div class="begin-destination">
                                    <span>12h:00 Xuất phát từ Hà Nội 11111</span>
                                    <strong><i class="icon-long-arrow-down"></i> Bến xe Nước Ngầm</strong>
                                    <span>15:00 Đến Thanh Hóa</span>
                                    <strong>Bến xe Phía Bắc</strong>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="hangxe">
                                    <span>Hãng xe</span>
                                    <strong>Hoàng Long</strong>
                                    <a href="#">Xem chi tiết (light Box)</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="price-saerch">
                                    <span>Giá vé</span>
                                    <strong>356.000 VNĐ</strong>
                                    <i>(Chưa bao gồm VAT)</i>
                                    <a href="#">Chọn vé này</a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-tb">
                            <div class="col-md-5">
                                <div class="begin-destination">
                                    <span>12h:00 Xuất phát từ Hà Nội 11111</span>
                                    <strong><i class="icon-long-arrow-down"></i> Bến xe Nước Ngầm</strong>
                                    <span>15:00 Đến Thanh Hóa</span>
                                    <strong>Bến xe Phía Bắc</strong>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="hangxe">
                                    <span>Hãng xe</span>
                                    <strong>Hoàng Long</strong>
                                    <a href="#">Xem chi tiết (light Box)</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="price-saerch">
                                    <span>Giá vé</span>
                                    <strong>356.000 VNĐ</strong>
                                    <i>(Chưa bao gồm VAT)</i>
                                    <a href="#">Chọn vé này</a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-tb">
                            <div class="col-md-5">
                                <div class="begin-destination">
                                    <span>12h:00 Xuất phát từ Hà Nội 11111</span>
                                    <strong><i class="icon-long-arrow-down"></i> Bến xe Nước Ngầm</strong>
                                    <span>15:00 Đến Thanh Hóa</span>
                                    <strong>Bến xe Phía Bắc</strong>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="hangxe">
                                    <span>Hãng xe</span>
                                    <strong>Hoàng Long</strong>
                                    <a href="#">Xem chi tiết (light Box)</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="price-saerch">
                                    <span>Giá vé</span>
                                    <strong>356.000 VNĐ</strong>
                                    <i>(Chưa bao gồm VAT)</i>
                                    <a href="#">Chọn vé này</a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-tb">
                            <div class="col-md-5">
                                <div class="begin-destination">
                                    <span>12h:00 Xuất phát từ Hà Nội 11111</span>
                                    <strong><i class="icon-long-arrow-down"></i> Bến xe Nước Ngầm</strong>
                                    <span>15:00 Đến Thanh Hóa</span>
                                    <strong>Bến xe Phía Bắc</strong>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="hangxe">
                                    <span>Hãng xe</span>
                                    <strong>Hoàng Long</strong>
                                    <a href="#">Xem chi tiết (light Box)</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="price-saerch">
                                    <span>Giá vé</span>
                                    <strong>356.000 VNĐ</strong>
                                    <i>(Chưa bao gồm VAT)</i>
                                    <a href="#">Chọn vé này</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab nav3 ">
                        <div class="row row-tb">
                            <div class="col-md-5">
                                <div class="begin-destination">
                                    <span>12h:00 Xuất phát từ Hà Nội 11111</span>
                                    <strong><i class="icon-long-arrow-down"></i> Bến xe Nước Ngầm</strong>
                                    <span>15:00 Đến Thanh Hóa</span>
                                    <strong>Bến xe Phía Bắc</strong>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="hangxe">
                                    <span>Hãng xe</span>
                                    <strong>Hoàng Long</strong>
                                    <a href="#">Xem chi tiết (light Box)</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="price-saerch">
                                    <span>Giá vé</span>
                                    <strong>356.000 VNĐ</strong>
                                    <i>(Chưa bao gồm VAT)</i>
                                    <a href="#">Chọn vé này</a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-tb">
                            <div class="col-md-5">
                                <div class="begin-destination">
                                    <span>12h:00 Xuất phát từ Hà Nội 11111</span>
                                    <strong><i class="icon-long-arrow-down"></i> Bến xe Nước Ngầm</strong>
                                    <span>15:00 Đến Thanh Hóa</span>
                                    <strong>Bến xe Phía Bắc</strong>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="hangxe">
                                    <span>Hãng xe</span>
                                    <strong>Hoàng Long</strong>
                                    <a href="#">Xem chi tiết (light Box)</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="price-saerch">
                                    <span>Giá vé</span>
                                    <strong>356.000 VNĐ</strong>
                                    <i>(Chưa bao gồm VAT)</i>
                                    <a href="#">Chọn vé này</a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-tb">
                            <div class="col-md-5">
                                <div class="begin-destination">
                                    <span>12h:00 Xuất phát từ Hà Nội 11111</span>
                                    <strong><i class="icon-long-arrow-down"></i> Bến xe Nước Ngầm</strong>
                                    <span>15:00 Đến Thanh Hóa</span>
                                    <strong>Bến xe Phía Bắc</strong>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="hangxe">
                                    <span>Hãng xe</span>
                                    <strong>Hoàng Long</strong>
                                    <a href="#">Xem chi tiết (light Box)</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="price-saerch">
                                    <span>Giá vé</span>
                                    <strong>356.000 VNĐ</strong>
                                    <i>(Chưa bao gồm VAT)</i>
                                    <a href="#">Chọn vé này</a>
                                </div>
                            </div>
                        </div>
                        <div class="row row-tb">
                            <div class="col-md-5">
                                <div class="begin-destination">
                                    <span>12h:00 Xuất phát từ Hà Nội 11111</span>
                                    <strong><i class="icon-long-arrow-down"></i> Bến xe Nước Ngầm</strong>
                                    <span>15:00 Đến Thanh Hóa</span>
                                    <strong>Bến xe Phía Bắc</strong>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="hangxe">
                                    <span>Hãng xe</span>
                                    <strong>Hoàng Long</strong>
                                    <a href="#">Xem chi tiết (light Box)</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="price-saerch">
                                    <span>Giá vé</span>
                                    <strong>356.000 VNĐ</strong>
                                    <i>(Chưa bao gồm VAT)</i>
                                    <a href="#">Chọn vé này</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




