@model TimVeXeModel
@using Nop.Web.Models.VeXeKhach
<div class="row row-search">
    <div class="col-md-4">
        @Html.Partial("_BoxTimVeXe",Model)
    </div>
    <div class="col-md-8">
       @Html.Partial("_Marketing")
    </div>
</div>  



