<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode title="NhaXes" controller="NhaXes" action="Index" >
    <siteMapNode title="ChonVe" nopResource="chonve.menu.nhaxe.qlchuyen" ImageUrl="~/Content/chonve/nxmenu/quanlychuyen.png"  PermissionNames="CVQLChuyen,CVHangHoaKiGui" >
      <siteMapNode title="Bảng điều chuyến" ImageUrl="~/Content/chonve/nxmenu/quanlyxeloaixe.png" PermissionNames="CVQLChuyen"  controller="HangHoa" action="BangDieuChuyen"  />
      <siteMapNode title="Báo cáo điều hành bến" ImageUrl="~/Content/chonve/nxmenu/quanlyxe.png" PermissionNames="CVQLChuyen" controller="NhaXeBaoCao" action="BaoCaoPhieuVanChuyen" />
      <siteMapNode title="Định biên lái, phụ, số xe" ImageUrl="~/Content/chonve/nxmenu/ico_history.png" PermissionNames="CVQLChuyen" controller="HangHoa" action="QLLaiPhuSoXe" />
      <siteMapNode title="Định biên giờ mở lệnh" ImageUrl="~/Content/chonve/nxmenu/bctk_nhanviendinhky.png" PermissionNames="CVQLChuyen" controller="HangHoa" action="QuanLyGioMoLenh" />
    </siteMapNode>
    <siteMapNode title="Tạo phiếu biên nhận" ImageUrl="~/Content/chonve/nxmenu/keve_taomoi.png"  PermissionNames="CVHangHoaKiGui"  controller="HangHoa" action="QLGuiHang" >
    </siteMapNode>
    <siteMapNode title="Xếp phiếu vận chuyển" ImageUrl="~/Content/chonve/nxmenu/keve_capnhatchuyen.png" PermissionNames="CVHangHoaKiGui" controller="HangHoa" action="QLXepPhieuNew"  />
    <siteMapNode title="Gán chuyến" ImageUrl="~/Content/chonve/nxmenu/khohang.png" PermissionNames="CVHangHoaKiGui"  controller="HangHoa" action="QLPhieuVanChuyen"  />
    <siteMapNode title="Nhận/Trả hàng" ImageUrl="~/Content/chonve/nxmenu/keve_trave.png"  PermissionNames="CVHangHoaKiGui"  controller="HangHoa" action="QLTraHang" >
      
  </siteMapNode>
    <siteMapNode title="Xem phiếu biên nhận" ImageUrl="~/Content/chonve/nxmenu/phoive.png"  PermissionNames="CVHangHoaKiGui"  controller="HangHoa" action="GomPhieuChuyenPhat" >

    </siteMapNode>
    <siteMapNode title="Lịch sử giao dịch" ImageUrl="~/Content/chonve/nxmenu/baocaolichtrinh.png" PermissionNames="CVHangHoaKiGui" >
      <siteMapNode title="Giao dịch ký gửi" ImageUrl="~/Content/chonve/nxmenu/guihang.png" PermissionNames="CVHangHoaKiGui" controller="HangHoa" action="LSPhieuChuyenPhat" />
      <siteMapNode title="Phiếu vận chuyển" ImageUrl="~/Content/chonve/nxmenu/quanlychuyen.png" PermissionNames="CVHangHoaKiGui" controller="HangHoa" action="LSPhieuVanChuyen" />
      <siteMapNode title="Lịch sử nhận hàng" ImageUrl="~/Content/chonve/nxmenu/ico_history.png" PermissionNames="CVHangHoaKiGui" controller="HangHoa" action="LSNhanHang" />
      <siteMapNode title="Lịch sử trả hàng" ImageUrl="~/Content/chonve/nxmenu/bctk_nhanviendinhky.png" PermissionNames="CVHangHoaKiGui" controller="HangHoa" action="LSTraHang" />
      <siteMapNode title="Hàng tồn, thất lạc" ImageUrl="~/Content/chonve/nxmenu/quanlyxethongtin.png" PermissionNames="CVHangHoaKiGui" controller="HangHoa" action="HangTon" />
    </siteMapNode>
      <siteMapNode title="ChonVe" nopResource="chonve.menu.nhaxe.baocao" ImageUrl="~/Content/chonve/nxmenu/baocao.png" PermissionNames="CVBaoCao,CVHangHoaKiGui" >
        <siteMapNode title="Báo cáo doanh thu theo văn phòng" ImageUrl="~/Content/chonve/nxmenu/baocaodoanhthu.png" PermissionNames="CVBaoCao,CVHangHoaKiGui" controller="NhaXeBaoCao" action="DoanhThuHangHoaVanPhong" />
        <siteMapNode title="Báo cáo doanh thu theo văn phòng trả" ImageUrl="~/Content/chonve/nxmenu/qlchuyen_qlchot_lichsu.png" PermissionNames="CVBaoCao,CVHangHoaKiGui" controller="NhaXeBaoCao" action="DoanhThuTheoVanPhongTra" />    
        <siteMapNode title="Báo cáo doanh thu tháng" ImageUrl="~/Content/chonve/nxmenu/quanlychuyenphutrach.png" PermissionNames="CVBaoCao" controller="NhaXeBaoCao" action="BaoCaoDoanhThuThang" />        
      <siteMapNode title="Báo cáo SMS đã gửi" ImageUrl="~/Content/chonve/nxmenu/baocao.png" PermissionNames="CVBaoCao" controller="NhaXeBaoCao" action="BaoCaoTinNhanDaGui" />
      </siteMapNode>
      <siteMapNode title="ChonVe" nopResource="chonve.menu.nhaxe.thongtinchung" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfo.png" PermissionNames="CVThongTinNhaXe" >
        <siteMapNode title="ChonVe" nopResource="chonve.menu.nhaxe.hanhtrinh" ImageUrl="~/Content/chonve/nxmenu/hanhtrinh.png" PermissionNames="CVHanhTrinh" >
          <siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.hanhtrinh.hanhtrinh" ImageUrl="~/Content/chonve/nxmenu/hanhtrinhquanly.png" PermissionNames="CVHanhTrinh"  controller="NhaXes" action="HanhTrinhList"  />
          <siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.hanhtrinh.diemdon" ImageUrl="~/Content/chonve/nxmenu/hanhtrinhdiemdon.png" PermissionNames="CVHanhTrinh"  controller="NhaXes" action="DiemDonList" />
          <siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.hanhtrinh.lichtrinh" ImageUrl="~/Content/chonve/nxmenu/hanhtrinhlichtrinh.png" PermissionNames="CVHanhTrinh"  controller="NhaXes" action="LichTrinhList"  />
          <siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.hanhtrinh.nguonve" ImageUrl="~/Content/chonve/nxmenu/hanhtrinhnguonve.png" PermissionNames="CVHanhTrinh"  controller="NhaXes" action="NguonVeList"  />
          <siteMapNode title="Bảng giá vé" ImageUrl="~/Content/chonve/nxmenu/CauHinhGiaVe.png" PermissionNames="CVTaiKhoan"  controller="GiaoDichKeVe" action="ListMenhGiaVe"  />
        </siteMapNode>
        <siteMapNode title="ChonVe" nopResource="chonve.menu.nhaxe.qlxe" ImageUrl="~/Content/chonve/nxmenu/quanlyxe.png"  PermissionNames="CVXeVanChuyen" >
          <siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.qlxe.thongtinxe" ImageUrl="~/Content/chonve/nxmenu/quanlyxethongtin.png"  PermissionNames="CVXeVanChuyen"  controller="NhaXes" action="XeInfoList"/>
          <siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.qlxe.loaixe" ImageUrl="~/Content/chonve/nxmenu/quanlyxeloaixe.png"  PermissionNames="CVXeVanChuyen"  controller="NhaXes" action="LoaiXeList" />
        </siteMapNode>
        <siteMapNode title="ChonVe" nopResource="chonve.menu.nhaxe.nhanvien" ImageUrl="~/Content/chonve/nxmenu/nhanvien.png" PermissionNames="CVNhanVien" >
          <siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.nhanvien.quanly" ImageUrl="~/Content/chonve/nxmenu/nhanvienquanly.png" PermissionNames="CVNhanVien"  controller="NhaXes" action="NhanVienList"/>
          <siteMapNode title="Hopdong" nopResource="chonve.menu.nhaxe.nhanvien.phanquyen" ImageUrl="~/Content/chonve/nxmenu/nhanvientaikhoan.png" PermissionNames="CVTaiKhoan" controller="NhaXes" action="TaiKhoanList"/>
        </siteMapNode>
        <siteMapNode title="Thongtin" nopResource="chonve.menu.nhaxe.thongtinchung.coban"  ImageUrl="~/Content/chonve/nxmenu/nhaxeinfocontract.png" PermissionNames="CVThongTinNhaXe" controller="NhaXes" action="Info"  />
        <siteMapNode title="Thongtin" nopResource="chonve.menu.nhaxe.thongtinchung.vanphong"  ImageUrl="~/Content/chonve/nxmenu/nhaxeinfovanphong.png" PermissionNames="CVThongTinNhaXe" controller="NhaXes" action="VanPhongList" />
       
        <siteMapNode title="Quản lý tổ vận chuyển"  ImageUrl="~/Content/chonve/nxmenu/quanlychuyenphutrach.png" PermissionNames="CVThongTinNhaXe" controller="HangHoa" action="QLToVanChuyen" />
        <siteMapNode title="Quản lý nhân viên vận chuyển"  ImageUrl="~/Content/chonve/nxmenu/quanlychuyenphutrach.png" PermissionNames="CVHangHoaKiGui" controller="HangHoa" action="QLNguoiVanChuyen" />
         <siteMapNode title="Quản lý tuyến hành trình"  ImageUrl="~/Content/chonve/nxmenu/quanlychuyenphutrach.png" PermissionNames="CVThongTinNhaXe" controller="HangHoa" action="QLTuyenHanhTrinh" />
      <siteMapNode title="Quản lý khu vực"  ImageUrl="~/Content/chonve/nxmenu/quanlychuyenphutrach.png" PermissionNames="CVThongTinNhaXe" controller="HangHoa" action="QLKhuVuc" />
        <siteMapNode title="Mẫu phiếu biên nhận" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfomauphieuguihang.png" PermissionNames="CVThongTinNhaXe" controller="NhaXeCauHinh" action="PhieuGuiHangHoa" />
        <siteMapNode title="Mẫu vé" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfomauve.png" PermissionNames="CVThongTinNhaXe" controller="NhaXeCauHinh" action="CuongVe" />
        <siteMapNode title="Mẫu phiếu vận chuyển" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfomaulenhhanghoa.png" PermissionNames="CVThongTinNhaXe" controller="NhaXeCauHinh" action="LenhChuyenHangHoa" />
        <siteMapNode title="Mẫu danh sách hành khách" ImageUrl="~/Content/chonve/nxmenu/qlchuyen_qlchot_phutrach.png" PermissionNames="CVThongTinNhaXe" controller="NhaXeCauHinh" action="LenhChuyenKhach" />
        <siteMapNode title="Cấu hình chung" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfo.png" PermissionNames="CVThongTinNhaXe" controller="NhaXeCauHinh" action="CauHinhChung" />
        <siteMapNode title="Giá vé lịch trình" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfo.png" PermissionNames="CVThongTinNhaXe" controller="QLPhoiVe" action="CauHinhGiaVeChung" />
      </siteMapNode>
      <siteMapNode title="Help" nopResource="Admin.Help" ImageUrl="~/Content/chonve/nxmenu/trogiup.png">
        <siteMapNode title="Help1" nopResource="ChonVe.NhaXe.Help.ThongTin" url="" ImageUrl="~/Content/chonve/nxmenu/nhaxeinfo.png" />
        <siteMapNode title="Help2" nopResource="ChonVe.NhaXe.Help.XeVanChuyen" url="" ImageUrl="~/Content/chonve/nxmenu/quanlyxethongtin.png" />
        <siteMapNode title="Help3" nopResource="ChonVe.NhaXe.Help.NhanVien" url="" ImageUrl="~/Content/chonve/nxmenu/nhanvien.png" />
        <siteMapNode title="Help3" nopResource="ChonVe.NhaXe.Help.BanVe" url="" ImageUrl="~/Content/chonve/nxmenu/phoive.png" />
      </siteMapNode>
   
  </siteMapNode>
</siteMap>


