
<div class="row cv-row-partner">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="cv-item-partner">
                    <a href="#"><img alt="" src="~/Themes/ChonVe/Content/images/icon/dt1.png" /></a>
                    <a href="#">Đảm bảo giá tốt nhất</a>
                    <p>Tìm giá thấp nhất của chúng tôi tới các địa điểm trên toàn thế giới, đảm bảo</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="cv-item-partner">
                    <a href="#"><img alt="" src="~/Themes/ChonVe/Content/images/icon/dt2.png" /></a>
                    <a href="#">Đảm bảo giá tốt nhất</a>
                    <p>Tìm giá thấp nhất của chúng tôi tới các địa điểm trên toàn thế giới, đảm bảo</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="cv-item-partner">
                    <a href="#"><img alt="" src="~/Themes/ChonVe/Content/images/icon/dt3.png" /></a>
                    <a href="#">Đảm bảo giá tốt nhất</a>
                    <p>Tìm giá thấp nhất của chúng tôi tới các địa điểm trên toàn thế giới, đảm bảo</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="cv-item-partner">
                    <a href="#"><img alt="" src="~/Themes/ChonVe/Content/images/icon/dt4.png" /></a>
                    <a href="#">Đảm bảo giá tốt nhất</a>
                    <p>Tìm giá thấp nhất của chúng tôi tới các địa điểm trên toàn thế giới, đảm bảo</p>
                </div>
            </div>
        </div>
    </div>
</div>