@model FooterModel
@using Nop.Web.Extensions
@using Nop.Web.Models.Common;
@using Nop.Core
@using Nop.Core.Infrastructure

<div class="col-sm-6">
    <div class="contactinfo">
        <ul class="nav nav-pills">
            <li><a href="#"><i class="fa fa-phone"></i>&nbsp;@T("contact.number")</a></li>
            <li><a href="#"><i class="fa fa-envelope"></i>&nbsp;@T("contact.email")</a></li>
        </ul>
    </div>
</div>
<div class="col-sm-6">
    <div class="social-icons pull-right">
        <ul class="nav navbar-nav">
            @if (!string.IsNullOrEmpty(Model.FacebookLink))
            {
                <li><a href="@Model.FacebookLink" target="_blank"><i class="fa fa-facebook"></i></a></li>
            }
            @if (!string.IsNullOrEmpty(Model.TwitterLink))
            {
                <li><a href="@Model.TwitterLink" target="_blank"><i class="fa fa-twitter"></i></a></li>
            }
            @if (!string.IsNullOrEmpty(Model.YoutubeLink))
            {
                <li><a href="@Model.YoutubeLink" target="_blank"><i class="fa fa-youtube"></i></a></li>
            }
            @if (!string.IsNullOrEmpty(Model.GooglePlusLink))
            {
                <li><a href="@Model.GooglePlusLink" target="_blank"> <i class="fa fa-google-plus"></i> </a></li>
            }
        </ul>
    </div>
</div>

