<table style="height: 678px; width: 700px; font-size: 13px; text-align: left; border: 1px solid #000000; border-collapse: collapse;" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="border: 1px solid black;" colspan="2">
                <table style="height: 100px; width: 700px; font-size: 13px; text-align: left; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="width: 30%;padding-top: 10px; vertical-align: top; text-align: center; border-right: 1px solid black;"><img src="/Content/chonve/nhaxe/logoha.png" alt="" height="90" /></td>
                            <td style="vertical-align: top; border-right: 1px solid black;" colspan="2">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align: top; font-size: 20px; font-family: initial; font-weight: bold; font-style: italic; text-align: center;" colspan="2">
                                                <table style="width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 20px; font-family: initial; font-weight: bold; font-style: italic; text-align: center;">VẬN ĐƠN VẬN TẢI H&Agrave;NG H&Oacute;A</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center; width: 300px; font-size: 15px;">
                                                <p style="font-style: italic; margin: 0px;"><strong>Li&ecirc;n 1&nbsp;: Giao cho kh&aacute;ch h&agrave;ng</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center; width: 300px; font-size: 15px;">
                                                <p style="font-style: italic; margin: 0px;"><strong>Tổng đ&agrave;i hỗ trợ: 19001731</strong></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="vertical-align: top;">
                                <table style="width: 171px; height: 100%; ;border-collapse: collapse;" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr style="border-bottom: 1px solid black;">
                                            <td class="BarCodePhieuGui">Ng&agrave;y: [NGAY]</td>
                                            <td>Giờ: [GIO]</td>
                                        </tr>
                                        <tr style="border-bottom: 1px solid black;">
                                            <td colspan="2">BKS: [BKS]</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 230px; height: 25px; position: relative; padding-top: 7px; padding-left: 3px; font-size: 14px; text-align: left;" colspan="2"><span style="font-size: 10pt;">Số: [MA]&nbsp;</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid black; background: #4a4545; color: white;">
            <td style="width: 50%;">
                <table style="width: 100%; border-collapse: collapse;">
                    <tbody>
                        <tr>
                            <td style="width: 12%; height: 25px; font-weight: bold;">1</td>
                            <td style="font-weight: bold;">&nbsp; &nbsp; NGƯỜI GỬI</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="width: 50%;">
                <table style="width: 100%; border-collapse: collapse;">
                    <tbody>
                        <tr>
                            <td style="width: 12%; font-weight: bold;">2</td>
                            <td style="font-weight: bold;">&nbsp; &nbsp; NGƯỜI NHẬN</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid black;">
            <td colspan="2">
                <table style="width: 100%; height: 120px; border-bottom: 1px solid #000000; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="border-right: 1px solid #000000; width: 50%; border-collapse: collapse;">
                                <table style="width: 100%; height: 120px; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr style="border-bottom: 1px solid #000000; height: 33px;">
                                            <td style="width: 35%;">Họ t&ecirc;n người gửi :</td>
                                            <td>[NGUOIGUI_TEN]</td>
                                        </tr>
                                        <tr style="border-bottom: 1px solid #000000; height: 33px;">
                                            <td style="width: 30%;">Số điện thoại :</td>
                                            <td>[NGUOIGUI_DIENTHOAI]</td>
                                        </tr>
                                        <tr style="border-bottom: 1px solid #000000; height: 33px;">
                                            <td>Địa chỉ :</td>
                                            <td>[NGUOIGUI_DIACHI]</td>
                                        </tr>
                                        <tr>
                                            <td>Văn ph&ograve;ng gửi:</td>
                                            <td>
                                                <table style="width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2">[TENVANPHONGGUI]</td>
                                                        </tr>
                                                        <tr>
                                                            <td>[DIACHIVPGUI]</td>
                                                            <td>[SDTVPGUI]</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table style="width: 100%; height: 100%; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr style="border-bottom: 1px solid #000000; height: 33px;">
                                            <td style="width: 35%;">Họ t&ecirc;n người nhận :</td>
                                            <td>[NGUOINHAN_TEN]</td>
                                        </tr>
                                        <tr style="border-bottom: 1px solid #000000; height: 33px;">
                                            <td style="width: 30%;">Số điện thoại :</td>
                                            <td>[NGUOINHAN_DIENTHOAI]</td>
                                        </tr>
                                        <tr style="border-bottom: 1px solid #000000; height: 33px;">
                                            <td>Địa chỉ :</td>
                                            <td>[NGUOINHAN_DIACHI]</td>
                                        </tr>
                                        <tr>
                                            <td>Văn ph&ograve;ng nhận:</td>
                                            <td>
                                                <table style="width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2">[TENVANPHONGNHAN]</td>
                                                        </tr>
                                                        <tr>
                                                            <td>[DIACHIVPNHAN]</td>
                                                            <td>[SDTVPNHAN]</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid black; background: #4a4545; color: white;">
            <td colspan="2">
                <table style="width: 100%; border-collapse: collapse;">
                    <tbody>
                        <tr>
                            <td style="width: 12%; height: 25px; font-weight: bold;">3</td>
                            <td style="font-weight: bold;">&nbsp; &nbsp; TH&Ocirc;NG TIN H&Agrave;NG GỬI</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid black;height: 110px;">
            <td colspan="2">
                <table style="border-collapse: collapse; width: 100%;">
                    <tbody>
                        <tr>
                            <td style="border-right: 1px solid #000000; width: 50%;">
                                <table style="width: 100%; height: 100%;">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">Loại h&agrave;ng gửi kh&ocirc;ng khai b&aacute;o gi&aacute; trị</td>
                                        </tr>
                                        <tr>
                                            <td>[LOAIHANG1] T&agrave;i liệu</td>
                                            <td>[LOAIHANG2] H&agrave;ng h&oacute;a</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Loại h&agrave;ng gửi khai b&aacute;o gi&aacute; trị</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><input type="checkbox" /> Gi&aacute; trị h&agrave;ng gửi khai b&aacute;o gi&aacute; trị</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table style="width: 100%; height: 100%;">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">T&iacute;nh chất h&agrave;ng h&oacute;a</td>
                                        </tr>
                                        <tr>
                                            <td>[TINHCHATHANG1] H&agrave;ng th&ocirc;ng thường</td>
                                            <td>[TINHCHATHANG4] H&agrave;ng dễ vỡ</td>
                                        </tr>
                                        <tr>
                                            <td>[TINHCHATHANG2] H&agrave;ng ướt</td>
                                            <td>[TINHCHATHANG5] H&agrave;ng c&oacute; m&ugrave;i</td>
                                        </tr>
                                        <tr>
                                            <td>[TINHCHATHANG3] H&agrave;ng mau hỏng</td>
                                            <td>[TINHCHATHANG6] H&agrave;ng cồng kềnh</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" /> H&agrave;ng mai nhận</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table style="width: 100%; border-collapse: collapse;">
                    <thead>
                        <tr style="background: #4a4545; color: white;">
                            <td style="height: 30px; border-right: 1px solid black;">STT</td>
                            <td style="height: 30px; border-right: 1px solid black;">Nội dung</td>
                            <td style="height: 30px; border-right: 1px solid black;">SL</td>
                            <td style="height: 30px; border-right: 1px solid black;">KL</td>
                            <td style="height: 30px; border-right: 1px solid black;">Trị gi&aacute;</td>
                            <td style="height: 30px; border-right: 1px solid black;">Cước ph&iacute;</td>
                            <td style="height: 30px; border-right: 1px solid black;">Cước DTT</td>
                            <td style="height: 30px;">Cước CTT</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[STT1]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[TENHANG1]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[SL1]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[KL1]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[TRIGIA1]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[CUOCPHI1]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">&nbsp;</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[STT2]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[TENHANG2]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[SL2]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[KL2]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[TRIGIA2]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[CUOCPHI2]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">&nbsp;</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[STT3]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[TENHANG3]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[SL3]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[KL3]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[TRIGIA3]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[CUOCPHI3]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">&nbsp;</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[STT4]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[TENHANG4]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[SL4]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[KL4]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[TRIGIA4]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[CUOCPHI4]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">&nbsp;</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;" colspan="2">Tổng</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[SLTONG]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[KLTONG]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[TRIGIATONG]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[CUOCPHITONG]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[CUOCDTT]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[CUOCCTT]</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table style="width: 100%; font-size: 10px; height: 112px;">
                    <tbody>
                        <tr>
                            <td>
                                <p><span style="text-decoration: underline;"><span style="font-size: 11pt;"><strong>Quy định về gửi h&agrave;ng v&agrave; bồi thường khiếu nại:</strong></span></span></p>
                                <p><span style="font-size: 10pt; font-family: 'times new roman', times;">- Đối với h&agrave;ng h&oacute;a c&oacute; gi&aacute; trị, h&agrave;ng c&oacute; h&oacute;a đơn GTGT đi k&egrave;m kh&aacute;ch h&agrave;ng phải tu&acirc;n thủ quy định đ&oacute;ng g&oacute;i v&agrave; k&ecirc; khai gi&aacute; trị. Trong trường hợp mất m&aacute;t C&ocirc;ng ty sẽ bồi ho&agrave;n theo gi&aacute; trị của h&oacute;a đơn</span><br /><span style="font-size: 10pt; font-family: 'times new roman', times;">- Đối với c&aacute;c loại h&agrave;ng h&oacute;a bao gồm bưu phẩm, bưu kiện đ&atilde; tu&acirc;n thủ quy định đ&oacute;ng g&oacute;i v&agrave; kh&ocirc;ng khai b&aacute;o gi&aacute; trị xảy ra mất m&aacute;t, hỏng h&oacute;c C&ocirc;ng ty chỉ bồi thường tối đa 200.000VNĐ/ h&agrave;ng h&oacute;a </span><br /><span style="font-size: 10pt; font-family: 'times new roman', times;">- X.E Việt Nam kh&ocirc;ng chịu tr&aacute;ch nhiệm bồi thường trong c&aacute;c trường hợp h&agrave;ng gửi vi phạm ph&aacute;p luật hoặc bị c&aacute;c cơ quan thẩm quyền Nh&agrave; Nước thu giữ, kh&aacute;ch h&agrave;ng kh&ocirc;ng c&oacute; giấy bi&ecirc;n nhận x&aacute;c nhận việc chuyển, gửi của C&ocirc;ng Ty X.E Việt Nam. </span><br /><span style="font-size: 10pt; font-family: 'times new roman', times;"> - Sau khi nh&acirc;n vi&ecirc;n X.E Việt Nam th&ocirc;ng b&aacute;o về việc h&agrave;ng đ&atilde; về điểm nhận h&agrave;ng, sau 5 ng&agrave;y kể từ thời điểm tr&ecirc;n, nếu kh&aacute;ch h&agrave;ng kh&ocirc;ng qua nhận h&agrave;ng, C&ocirc;ng ty sẽ kh&ocirc;ng chịu tr&aacute;ch nhiệm về t&igrave;nh trạng h&agrave;ng h&oacute;a tr&ecirc;n.</span></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid black; background: #4a4545; color: white;">
            <td colspan="2">
                <table style="width: 100%; border-collapse: collapse;">
                    <tbody>
                        <tr>
                            <td style="width: 12%; height: 25px; font-weight: bold;">4</td>
                            <td style="font-weight: bold;">Cam kết của người gửi</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2"><span style="font-family: 'times new roman', times; font-size: 10pt;">T&ocirc;i chấp thuận c&aacute;c quy định của C&ocirc;ng ty về gửi h&agrave;ng, bồi thường v&agrave; khiếu nại. Đồng thời cam đoan bưu gửi n&agrave;y kh&ocirc;ng chứa những mặt h&agrave;ng nguy hiểm, cấm lưu h&agrave;nh theo Quy định của nh&agrave; nước. Trường hợp phải chuyển ho&agrave;n do kh&ocirc;ng ph&aacute;t gửi được đơn h&agrave;ng, t&ocirc;i sẽ trả cước chuyển ho&agrave;n.</span></td>
        </tr>
        <tr>
            <td style="vertical-align: top; height: 73px;" colspan="2">
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 40%; text-align: center; vertical-align: top;">
                                <p><strong>NGƯỜI GỬI</strong><br />(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                            </td>
                            <td>&nbsp;</td>
                            <td style="width: 40%; text-align: center; vertical-align: top;"><strong>NH&Acirc;N VI&Ecirc;N GIAO NHẬN</strong><br />(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<hr />
<table style="height: 678px; width: 700px; font-size: 13px; text-align: left; border: 1px solid #000000; border-collapse: collapse;" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td style="border: 1px solid black;" colspan="2">
                <table style="height: 120px; width: 700px; font-size: 13px; text-align: left; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="width: 30%; vertical-align: top;padding-top:10px; text-align: center; border-right: 1px solid black;"><img src="/Content/chonve/nhaxe/logoha.png" alt="" height="90" /></td>
                            <td style="vertical-align: top; border-right: 1px solid black;" colspan="2">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="vertical-align: top; font-size: 20px; font-family: initial; font-weight: bold; font-style: italic; text-align: center;" colspan="2">
                                                <table style="width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size: 20px; font-family: initial; font-weight: bold; font-style: italic; text-align: center;">VẬN ĐƠN VẬN TẢI H&Agrave;NG H&Oacute;A</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center; width: 300px; font-size: 15px;">
                                                <p style="font-style: italic; margin: 0px;"><strong>Li&ecirc;n 2&nbsp;: Lưu</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center; width: 300px; font-size: 15px;">
                                                <p style="font-style: italic; margin: 0px;"><strong>Tổng đ&agrave;i hỗ trợ: 19001731</strong></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="vertical-align: top;">
                                <table style="width: 171px; height: 100%; ;border-collapse: collapse;" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr style="border-bottom: 1px solid black;">
                                            <td class="BarCodePhieuGui">Ng&agrave;y: [NGAY]</td>
                                            <td>Giờ: [GIO]</td>
                                        </tr>
                                        <tr style="border-bottom: 1px solid black;">
                                            <td colspan="2">BKS: [BKS]</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 230px; height: 25px; position: relative; padding-top: 7px; padding-left: 3px; font-size: 14px; text-align: left;" colspan="2"><span style="font-size: 10pt;">Số: [MA]&nbsp;</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid black; background: #4a4545; color: white;">
            <td style="width: 50%;">
                <table style="width: 100%; border-collapse: collapse;">
                    <tbody>
                        <tr>
                            <td style="width: 12%; height: 40px; font-weight: bold;">1</td>
                            <td style="font-weight: bold;">&nbsp; &nbsp; NGƯỜI GỬI</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="width: 50%;">
                <table style="width: 100%; border-collapse: collapse;">
                    <tbody>
                        <tr>
                            <td style="width: 12%; height: 40px; font-weight: bold;">2</td>
                            <td style="font-weight: bold;">&nbsp; &nbsp; NGƯỜI NHẬN</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid black;">
            <td colspan="2">
                <table style="width: 100%; height: 120px; border-bottom: 1px solid #000000; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="border-right: 1px solid #000000; width: 50%; border-collapse: collapse;">
                                <table style="width: 100%; height: 120px; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr style="border-bottom: 1px solid #000000; height: 33px;">
                                            <td style="width: 35%;">Họ t&ecirc;n người gửi :</td>
                                            <td>[NGUOIGUI_TEN]</td>
                                        </tr>
                                        <tr style="border-bottom: 1px solid #000000; height: 33px;">
                                            <td style="width: 30%;">Số điện thoại :</td>
                                            <td>[NGUOIGUI_DIENTHOAI]</td>
                                        </tr>
                                        <tr style="border-bottom: 1px solid #000000; height: 33px;">
                                            <td>Địa chỉ :</td>
                                            <td>[NGUOIGUI_DIACHI]</td>
                                        </tr>
                                        <tr>
                                            <td>Văn ph&ograve;ng gửi:</td>
                                            <td>
                                                <table style="width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2">[TENVANPHONGGUI]</td>
                                                        </tr>
                                                        <tr>
                                                            <td>[DIACHIVPGUI]</td>
                                                            <td>[SDTVPGUI]</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table style="width: 100%; height: 100%; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr style="border-bottom: 1px solid #000000; height: 33px;">
                                            <td style="width: 35%;">Họ t&ecirc;n người nhận :</td>
                                            <td>[NGUOINHAN_TEN]</td>
                                        </tr>
                                        <tr style="border-bottom: 1px solid #000000; height: 33px;">
                                            <td style="width: 30%;">Số điện thoại :</td>
                                            <td>[NGUOINHAN_DIENTHOAI]</td>
                                        </tr>
                                        <tr style="border-bottom: 1px solid #000000; height: 33px;">
                                            <td>Địa chỉ :</td>
                                            <td>[NGUOINHAN_DIACHI]</td>
                                        </tr>
                                        <tr>
                                            <td>Văn ph&ograve;ng nhận:</td>
                                            <td>
                                                <table style="width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2">[TENVANPHONGNHAN]</td>
                                                        </tr>
                                                        <tr>
                                                            <td>[DIACHIVPNHAN]</td>
                                                            <td>[SDTVPNHAN]</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid black; background: #4a4545; color: white;">
            <td colspan="2">
                <table style="width: 100%; border-collapse: collapse;">
                    <tbody>
                        <tr>
                            <td style="width: 12%; height: 40px; font-weight: bold;">3</td>
                            <td style="font-weight: bold;">&nbsp; &nbsp; TH&Ocirc;NG TIN H&Agrave;NG GỬI</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid black;">
            <td colspan="2">
                <table style="border-collapse: collapse; width: 100%;">
                    <tbody>
                        <tr>
                            <td style="border-right: 1px solid #000000; width: 50%;">
                                <table style="width: 100%; height: 140px;">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">Loại h&agrave;ng gửi kh&ocirc;ng khai b&aacute;o gi&aacute; trị</td>
                                        </tr>
                                        <tr>
                                            <td>[LOAIHANG1] T&agrave;i liệu</td>
                                            <td>[LOAIHANG2] H&agrave;ng h&oacute;a</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Loại h&agrave;ng gửi khai b&aacute;o gi&aacute; trị</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><input type="checkbox" /> Gi&aacute; trị h&agrave;ng gửi khai b&aacute;o gi&aacute; trị</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table style="width: 100%; height: 140px;">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">T&iacute;nh chất h&agrave;ng h&oacute;a</td>
                                        </tr>
                                        <tr>
                                            <td>[TINHCHATHANG1] H&agrave;ng th&ocirc;ng thường</td>
                                            <td>[TINHCHATHANG4] H&agrave;ng dễ vỡ</td>
                                        </tr>
                                        <tr>
                                            <td>[TINHCHATHANG2] H&agrave;ng ướt</td>
                                            <td>[TINHCHATHANG5] H&agrave;ng c&oacute; m&ugrave;i</td>
                                        </tr>
                                        <tr>
                                            <td>[TINHCHATHANG3] H&agrave;ng mau hỏng</td>
                                            <td>[TINHCHATHANG6] H&agrave;ng cồng kềnh</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox" /> H&agrave;ng mai nhận</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table style="width: 100%; border-collapse: collapse;">
                    <thead>
                        <tr style="background: #4a4545; color: white;">
                            <td style="height: 30px; border-right: 1px solid black;">STT</td>
                            <td style="height: 30px; border-right: 1px solid black;">Nội dung</td>
                            <td style="height: 30px; border-right: 1px solid black;">SL</td>
                            <td style="height: 30px; border-right: 1px solid black;">KL</td>
                            <td style="height: 30px; border-right: 1px solid black;">Trị gi&aacute;</td>
                            <td style="height: 30px; border-right: 1px solid black;">Cước ph&iacute;</td>
                            <td style="height: 30px; border-right: 1px solid black;">Cước DTT</td>
                            <td style="height: 30px;">Cước CTT</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[STT1]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[TENHANG1]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[SL1]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[KL1]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[TRIGIA1]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[CUOCPHI1]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">&nbsp;</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[STT2]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[TENHANG2]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[SL2]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[KL2]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[TRIGIA2]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[CUOCPHI2]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">&nbsp;</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[STT3]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[TENHANG3]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[SL3]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[KL3]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[TRIGIA3]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[CUOCPHI3]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">&nbsp;</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[STT4]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[TENHANG4]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[SL4]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[KL4]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[TRIGIA4]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[CUOCPHI4]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">&nbsp;</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;" colspan="2">Tổng</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[SLTONG]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[KLTONG]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[TRIGIATONG]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[CUOCPHITONG]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[CUOCDTT]</td>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px; border-left: none;">[CUOCCTT]</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 11px; text-decoration: underline;" colspan="2"><strong>QU&Yacute; KH&Aacute;CH H&Agrave;NG LƯU &Yacute;:</strong></td>
        </tr>
        <tr>
            <td colspan="2">
                <table style="width: 100%; font-size: 9px; font-style: italic; text-align: left;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 5px;">Khi h&agrave;ng về đến chi nh&aacute;nh cuối c&ugrave;ng trả h&agrave;ng sẽ c&oacute; th&ocirc;ng b&aacute;o được gửi tới số điện thoại người nhận ( v&igrave; vậy mong qu&yacute; kh&aacute;ch ghi r&otilde; số điện thoại người nhận )</td>
                            <td style="width: 100px; border-right: 1px solid #000000;">&nbsp;</td>
                            <td style="text-align: right;">Website: http://xevietnam.com.vn - ĐƯỜNG&nbsp;<strong>D&Acirc;Y N&Oacute;NG:&nbsp;19001155</strong></td>
                        </tr>
                        <tr>
                            <td colspan="3"><hr /></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp; &nbsp;&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table style="height: 678px; width: 700px; font-size: 13px; text-align: left;border-collapse: collapse;" cellspacing="0" cellpadding="0">
    <tbody>
        <tr class="repeat">
            <td>
                <table style="height: 120px; width: 700px; font-size: 13px; text-align: left;border: 1px solid #000000; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="border: 1px solid black;" colspan="2">
                                <table style="height: 120px; width: 700px; font-size: 13px; text-align: left; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td style="width: 30%; vertical-align: top;padding-top:10px; text-align: center; border-right: 1px solid black;"><img src="/Content/chonve/nhaxe/logoha.png" alt="" height="90" /></td>
                                            <td style="vertical-align: top; border-right: 1px solid black;" colspan="2">
                                                <table style="width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="vertical-align: top; font-size: 20px; font-family: initial; font-weight: bold; font-style: italic; text-align: center;" colspan="2">
                                                                <table style="width: 100%;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="font-size: 20px; font-family: initial; font-weight: bold; font-style: italic; text-align: center;">VẬN ĐƠN VẬN TẢI H&Agrave;NG H&Oacute;A</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center; width: 300px; font-size: 15px;">
                                                                <p style="font-style: italic; margin: 0px;"><strong>Li&ecirc;n 3&nbsp;: Dán</strong></p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center; width: 300px; font-size: 15px;">
                                                                <p style="font-style: italic; margin: 0px;"><strong>Tổng đ&agrave;i hỗ trợ: 19001731</strong></p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="vertical-align: top;">
                                                <table style="width: 171px; height: 100%; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr style="border-bottom: 1px solid black;">
                                                            <td class="BarCodePhieuGui">Ng&agrave;y: [NGAY]</td>
                                                            <td>Giờ: [GIO]</td>
                                                        </tr>
                                                        <tr style="border-bottom: 1px solid black;">
                                                            <td colspan="2">BKS: [BKS]</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 230px; height: 25px; position: relative; padding-top: 7px; padding-left: 3px; font-size: 14px; text-align: left;" colspan="2"><span style="font-size: 10pt;">Số: [MA]&nbsp;</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="border-bottom: 1px solid black; background: #4a4545; color: white;">
                            <td style="width: 50%;">
                                <table style="width: 100%; border-collapse: collapse;">
                                    <tbody>
                                        <tr>
                                            <td style="width: 12%; height: 40px; font-weight: bold;">1</td>
                                            <td style="font-weight: bold;">&nbsp; &nbsp; NGƯỜI GỬI</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="width: 50%;">
                                <table style="width: 100%; border-collapse: collapse;">
                                    <tbody>
                                        <tr>
                                            <td style="width: 12%; height: 40px; font-weight: bold;">2</td>
                                            <td style="font-weight: bold;">&nbsp; &nbsp; NGƯỜI NHẬN</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="border-bottom: 1px solid black;">
                            <td colspan="2">
                                <table style="width: 100%; height: 120px; border-bottom: 1px solid #000000; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td style="border-right: 1px solid #000000; width: 50%; border-collapse: collapse;">
                                                <table style="width: 100%; height: 120px; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr style="border-bottom: 1px solid #000000; height: 33px;">
                                                            <td style="width: 35%;">Họ t&ecirc;n người gửi :</td>
                                                            <td>[NGUOIGUI_TEN]</td>
                                                        </tr>
                                                        <tr style="border-bottom: 1px solid #000000; height: 33px;">
                                                            <td style="width: 30%;">Số điện thoại :</td>
                                                            <td>[NGUOIGUI_DIENTHOAI]</td>
                                                        </tr>
                                                        <tr style="border-bottom: 1px solid #000000; height: 33px;">
                                                            <td>Địa chỉ :</td>
                                                            <td>[NGUOIGUI_DIACHI]</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Văn ph&ograve;ng gửi:</td>
                                                            <td>
                                                                <table style="width: 100%;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td colspan="2">[TENVANPHONGGUI]</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>[DIACHIVPGUI]</td>
                                                                            <td>[SDTVPGUI]</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table style="width: 100%; height: 100%; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                                                    <tbody>
                                                        <tr style="border-bottom: 1px solid #000000; height: 33px;">
                                                            <td style="width: 35%;">Họ t&ecirc;n người nhận :</td>
                                                            <td>[NGUOINHAN_TEN]</td>
                                                        </tr>
                                                        <tr style="border-bottom: 1px solid #000000; height: 33px;">
                                                            <td style="width: 30%;">Số điện thoại :</td>
                                                            <td>[NGUOINHAN_DIENTHOAI]</td>
                                                        </tr>
                                                        <tr style="border-bottom: 1px solid #000000; height: 33px;">
                                                            <td>Địa chỉ :</td>
                                                            <td>[NGUOINHAN_DIACHI]</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Văn ph&ograve;ng nhận:</td>
                                                            <td>
                                                                <table style="width: 100%;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td colspan="2">[TENVANPHONGNHAN]</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>[DIACHIVPNHAN]</td>
                                                                            <td>[SDTVPNHAN]</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="border-bottom: 1px solid black; background: #4a4545; color: white;">
                            <td colspan="2">
                                <table style="width: 100%; border-collapse: collapse;">
                                    <tbody>
                                        <tr>
                                            <td style="width: 12%; height: 40px; font-weight: bold;">3</td>
                                            <td style="font-weight: bold;">&nbsp; &nbsp; TH&Ocirc;NG TIN H&Agrave;NG GỬI</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="border-bottom: 1px solid black;">
                            <td colspan="2">
                                <table style="border-collapse: collapse; width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="border-right: 1px solid #000000; width: 50%;">
                                                <table style="width: 100%; height: 140px;">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2">Loại h&agrave;ng gửi kh&ocirc;ng khai b&aacute;o gi&aacute; trị</td>
                                                        </tr>
                                                        <tr>
                                                            <td>[LOAIHANG1] T&agrave;i liệu</td>
                                                            <td>[LOAIHANG2] H&agrave;ng h&oacute;a</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">Loại h&agrave;ng gửi khai b&aacute;o gi&aacute; trị</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"><input type="checkbox" /> Gi&aacute; trị h&agrave;ng gửi khai b&aacute;o gi&aacute; trị</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table style="width: 100%; height: 140px;">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2">T&iacute;nh chất h&agrave;ng h&oacute;a</td>
                                                        </tr>
                                                        <tr>
                                                            <td>[TINHCHATHANG1] H&agrave;ng th&ocirc;ng thường</td>
                                                            <td>[TINHCHATHANG4] H&agrave;ng dễ vỡ</td>
                                                        </tr>
                                                        <tr>
                                                            <td>[TINHCHATHANG2] H&agrave;ng ướt</td>
                                                            <td>[TINHCHATHANG5] H&agrave;ng c&oacute; m&ugrave;i</td>
                                                        </tr>
                                                        <tr>
                                                            <td>[TINHCHATHANG3] H&agrave;ng mau hỏng</td>
                                                            <td>[TINHCHATHANG6] H&agrave;ng cồng kềnh</td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="checkbox" /> H&agrave;ng mai nhận</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table style="width: 100%; border: 1px solid #000000; border-collapse: collapse;">
                                    <thead>
                                        <tr>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">STT</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">Nội dung</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">SL</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">KL</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">Trị gi&aacute;</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">Cước ph&iacute;</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">Cước DTT</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">Cước CTT</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">[STT]</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">[TENHANG]</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">[SL]</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">[KL]</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">[TRIGIA]</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">[CUOCPHI]</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">&nbsp;</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;" colspan="2">Tổng</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">&nbsp;</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">&nbsp;</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">&nbsp;</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">&nbsp;</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">[CUOCDTT]</td>
                                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">[CUOCCTT]</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
            </td>
        </tr>
    </tbody>
</table>