<div style="min-height: 600px; vertical-align: top;">
    <table style="width: 840px; font-size: 12px; text-align: left;">
        <tbody>
            <tr>
                <td style="width: 30%; vertical-align: top; text-align: left;"><img src="/Content/chonve/nhaxe/logoha.png" alt="" height="90" /></td>
                <td style="vertical-align: top;">
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="text-align: center; font-size: 23px; font-weight: bold;">PHIẾU&nbsp;GIAO NHẬN H&Agrave;NG H&Oacute;A</td>
                            </tr>
                            <tr>
                                <td style="text-align: center; font-style: italic;">Ng&agrave;y [NGAY] th&aacute;ng [THANG] năm [NAM]&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td><strong>Số xe:&nbsp;</strong>.....................................&nbsp;</td>
                                                <td><strong>Giờ chạy:&nbsp;</strong>.................................................</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="vertical-align: top; font-size: 19px;">
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="text-align: left;"><strong>Số:</strong>&nbsp;[MA]</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;"><strong>VP:</strong> [MA_VAN_PHONG]</td>
                            </tr>
                            <tr>
                                <td style="text-align: left;"><strong>[KHU_VUC]</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <table style="width: 100%; border-collapse: collapse; text-align: center;" border="1">
                        <thead>
                            <tr style="text-align: center; font-weight: bold;">
                                <td>STT</td>
                                <td>Mã phiếu</td>
                                <td>Tên hàng</td>
                                <td>Số lượng</td>
                                <td>Ghi chú</td>
                            </tr>
                        </thead>
                        <tbody style="font-size: 16px;">
                            <tr class="repeat">
                                <td>[STT]</td>
                                <td>[MAPHIEU]</td>
                                <td>[TENHANG]</td>
                                <td>[SOLUONG]</td>
                                <td>[GHICHU]</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top; height: 75px;" colspan="3">
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 50%; text-align: center; vertical-align: top;"><strong>NGƯỜI GIAO H&Agrave;NG</strong><br />(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</td>
                                <td style="text-align: center; vertical-align: top;"><strong>L&Aacute;I, PHỤ XE</strong><br />(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="text-align: left; font-style: italic; font-size: 10px;" colspan="3"><span style="font-size: 9pt;">*Quy định: NV Chuyển ph&aacute;t - Tổ thu ng&acirc;n - Phụ xe ghi đ&uacute;ng, đủ c&aacute;c mục trong phiếu vận chuyển v&agrave; đối chiếu, b&aacute;o c&aacute;o ph&aacute;t sinh ngay trong ng&agrave;y.</span></td>
            </tr>
        </tbody>
    </table>
</div>
<hr style="margin-bottom: 10px;" />