<img alt="" src="~/Themes/ChonVe/Content/images/slide.png" style="height:385px" />


<div style="border: 1px solid #0e6780;">
    <table style="width: 100%; border: 1px solid #000000; border-collapse: collapse; height: 630px;">
        <tbody>
            <tr style="border: 1px solid #000; height: 25px;">
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div>
                        <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                        <div>
                            <span style="float:left">[TEN_KHACH_1]</span><br />
                            <span style="float:left">[SDT_1]</span><br />
                            <span style="float:left">[MA_1]</span><br />
                            <span style="float:left">[CHANG_1]</span><br />
                            <span style="float:left">[GIA_1]</span>
                        </div>
                    </div>
                    
                   
                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
            </tr>
            <tr style="border: 1px solid #000; height: 25px;">
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left:180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
            </tr>
            <tr style="border: 1px solid #000; height: 25px;">
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
            </tr>
            <tr style="border: 1px solid #000; height: 25px;">
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
            </tr>
            <tr style="border: 1px solid #000; height: 25px;">
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
            </tr>
            <tr style="border: 1px solid #000; height: 25px;">
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
            </tr>
            <tr style="border: 1px solid #000; height: 25px;">
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
            </tr>
            <tr style="border: 1px solid #000; height: 25px;">
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
                <td style="border: 1px solid #000; vertical-align:top; font-size: 12px;">
                    <div style="margin-left: 180px;margin-top: 6px;color: #000;font-size: 22px;height: 18px;width: 25px; position: absolute;float: right;vertical-align: top;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 3px;">1</div>
                    <div>
                        <span style="float:left">[TEN_KHACH_1]</span><br />
                        <span style="float:left">[SDT_1]</span><br />
                        <span style="float:left">[MA_1]</span><br />
                        <span style="float:left">[CHANG_1]</span><br />
                        <span style="float:left">[GIA_1]</span>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>
