<div class="cv-news-home">
    <div class="cv-title-news-home">
        <h2>Tin tức</h2>
    </div>
    <div class="cv-list-news-item">
        <ul>
            <li><a href="#">Xe hà nội đi Sapa - Hãng xe Sapa Express giảm giá</a><span>27/03/2015</span></li>
            <li><a href="#">Xe hà nội đi Sapa - Hãng xe Sapa Express giảm giá</a><span>27/03/2015</span></li>
            <li><a href="#">Xe hà nội đi Sapa - Hãng xe Sapa Express giảm giá</a><span>27/03/2015</span></li>
            <li><a href="#">Xe hà nội đi Sapa - Hãng xe Sapa Express giảm giá</a><span>27/03/2015</span></li>
            <li><a href="#">Xe hà nội đi Sapa - Hãng xe Sapa Express giảm giá</a><span>27/03/2015</span></li>
        </ul>
    </div>
</div>