<table style="width: 750px; font-size: 11pt; height: 372px;">
    <tbody>
        <tr>
            <td style="width: 35%; text-align: center; vertical-align: top; font-size: 12pt;"><strong>C&Ocirc;NG TY CPCN QUẢNG AN 1</strong><br /> <span style="font-style: italic;">Số: [SO_HD] /LP</span></td>
            <td style="text-align: center; vertical-align: top;"><br /><br /><span style="font-size: 12pt; font-style: italic;">&nbsp;Ng&agrave;y [NGAY] th&aacute;ng [THANG] năm [NAM]</span></td>
        </tr>
        <tr>
            <td style="text-align: center; font-size: 16pt; font-weight: bold;" colspan="3">DANH S&Aacute;CH H&Agrave;NH KH&Aacute;CH</td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 16px; font-weight: bolder;">H&agrave;nh tr&igrave;nh &nbsp;: [HANH_TRINH]&nbsp;</td>
            <td style="text-align: left; font-size: 16px; font-weight: bolder;">Giờ xuất bến &nbsp;: [GIO_XUAT_BEN]&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 16px; font-weight: bolder;">Biển số xe &nbsp;: [BIEN_SO_XE]&nbsp;</td>
            <td style="text-align: left; font-size: 16px; font-weight: bolder;">T&ecirc;n l&aacute;i xe &nbsp;: [TEN_LAI_XE]&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">
                <table style="width: 738px; border: 1px solid #000000; border-collapse: collapse; height: 105px;" cellspacing="5" cellpadding="5">
                    <tbody>
                        <tr style="font-weight: bold; text-align: center;">
                            <td style="border: 1px solid #000000; height: 20px;">STT</td>
                            <td style="border: 1px solid #000000;">Họ t&ecirc;n h&agrave;nh kh&aacute;ch</td>
                            <td style="border: 1px solid #000000;">Điểm đ&oacute;n - trả kh&aacute;ch</td>
                            <td style="border: 1px solid #000000;">Ghi ch&uacute;</td>
                        </tr>
                        <tr class="repeat">
                            <td style="text-align: center; border: 1px solid #000000; height: 20px;">[STT]</td>
                            <td style="text-align: left; padding-left: 8px; border: 1px solid #000000;">[HOVATEN]</td>
                            <td style="text-align: left; border: 1px solid #000000;"><strong><span style="font-size: 12pt;">[DIACHIDON]</span></strong> -&nbsp;<span style="font-style: italic; font-size: 14px; font-weight: 800;">[DIEMDEN]</span></td>
                            <td style="text-align: right; font-size: 18px; font-weight: bold; border: 1px solid #000000;">[DIEN_THOAI]</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px;" colspan="4">Tổng số: [TONG_SO_KHACH] người</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 35px;" colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">
                &nbsp;
                <p><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ĐIỀU H&Agrave;NH&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; L&Aacute;I XE&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; THU NG&Acirc;N</strong></p>
                <p><em>&nbsp; &nbsp; &nbsp; (K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<em>(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<em>(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</em></em></em></p>
            </td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>