<table style="height: 678px; width: 882px; font-size: 13px; text-align: left;">
    <tbody>
        <tr>
            <td style="width: 30%; vertical-align: top; text-align: left;"><img src="/Content/chonve/nhaxe/logoha.png" alt="" height="90" /></td>
            <td style="vertical-align: top;" colspan="2">
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="text-align: left; vertical-align: top; font-size: 20px; font-family: initial; font-weight: bold; font-style: italic;" colspan="2">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: left; font-size: 20px; font-family: initial; font-weight: bold; font-style: italic;">VẬN ĐƠN VẬN TẢI H&Agrave;NG H&Oacute;A</td>
                                            <td>&nbsp; &nbsp;</td>
                                            <td style="text-align: right; font-size: 14px; font-weight: bold;">Giờ gửi: [GIO]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; width: 300px; font-size: 15px;">
                                <p style="font-style: italic; margin: 4px;">Ng&agrave;y [NGAY] th&aacute;ng [THANG] năm [NAM]</p>
                                <p style="font-style: italic; margin: 0px;"><strong>Li&ecirc;n 1&nbsp;: Giao cho kh&aacute;ch h&agrave;ng</strong></p>
                            </td>
                            <td style="vertical-align: top;">
                                <table style="width: 171px; height: 39px; float: right;">
                                    <tbody>
                                        <tr>
                                            <td class="BarCodePhieuGui"><strong>&nbsp; &nbsp;&nbsp;</strong></td>
                                            <td style="border: 1px solid #000000; width: 230px; height: 25px; position: relative; padding-top: 7px; padding-left: 3px; font-size: 14px; text-align: left;"><strong><span style="font-size: 12pt;">Số: [MA]&nbsp;</span></strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 60%; vertical-align: top;">
                                <table style="width: 394px; height: 45px;">
                                    <tbody>
                                        <tr>
                                            <td style="text-decoration: underline; font-size: 15px;"><strong>VĂN PH&Ograve;NG GỬI</strong></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Văn ph&ograve;ng:</strong> [VPGUI_TEN]([VPGUI_MA])</td>
                                            <td>ĐT:&nbsp;[VPGUI_DIENTHOAI]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="vertical-align: top;">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="text-decoration: underline; font-size: 15px;"><strong>VĂN PH&Ograve;NG NHẬN</strong></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Văn ph&ograve;ng:</strong> [VPNHAN_TEN]([VPNHAN_MA])</td>
                                            <td>ĐT:&nbsp;[VPNHAN_DIENTHOAI]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table style="width: 100%; border-collapse: collapse; font-size: 13px; border-color: #000000;" border="1" cellspacing="5px" cellpadding="5px">
                    <tbody>
                        <tr style="width: 50%;">
                            <td>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table style="width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 120px;"><strong>NGƯỜI NHẬN :</strong></td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Họ t&ecirc;n người nhận :</td>
                                                            <td>[NGUOINHAN_TEN] - [NGUOINHAN_DIENTHOAI]</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Địa chỉ:</td>
                                                            <td>[NGUOINHAN_DIACHI]</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 120px;"><strong>NGƯỜI GỬI :</strong></td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Họ t&ecirc;n người gửi :</td>
                                                            <td>[NGUOIGUI_TEN] - [NGUOIGUI_DIENTHOAI]</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Địa chỉ :</td>
                                                            <td>[NGUOIGUI_DIACHI]</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>Th&ocirc;ng tin h&agrave;ng:<br /> [THONGTINHANGLIEN1]</td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td>Cước ph&iacute; : &nbsp; [CUOC_PHI];NTN : [CUOC_NHAN_TAN_NOI]; &nbsp;TTN : [CUOC_TRA_TAN_NOI]; &nbsp;TG : &nbsp;[CUOC_TRI_GIA]; &nbsp;CT : [CUOC_CAP_TOC]; &nbsp;VT : [CUOC_VUOT_TUYEN]</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="vertical-align: top;">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="width: 110px;">Tổng cước đ&atilde; TT:</td>
                                            <td>[TIEN_CUOC_DA_THANH_TOAN]</td>
                                            <td style="width: 130px;">Tổng cước chưa TT :</td>
                                            <td>[TIEN_CUOC_CHUA_THANH_TOAN]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; height: 73px;" colspan="3">
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 40%; text-align: center; vertical-align: top;"><strong>NGƯỜI GỬI</strong><br />(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</td>
                            <td>&nbsp;</td>
                            <td style="width: 40%; text-align: center; vertical-align: top;"><strong>NH&Acirc;N VI&Ecirc;N GIAO NHẬN</strong><br />(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 11px; text-decoration: underline;" colspan="3"><strong>QU&Yacute; KH&Aacute;CH H&Agrave;NG LƯU &Yacute;:</strong></td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width: 906px; font-size: 9px; font-style: italic; text-align: left; height: 50px;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 5px; height: 12px;" scope="row">
                                <p>&nbsp;Khi h&agrave;ng về đến chi nh&aacute;nh cuối c&ugrave;ng trả h&agrave;ng sẽ c&oacute; th&ocirc;ng b&aacute;o được gửi tới số điện thoại người nhận ( v&igrave; vậy mong qu&yacute; kh&aacute;ch ghi r&otilde; số điện thoại người nhận )</p>
                            </td>
                            <td style="width: 100px; border-right: 1px solid #000000;">&nbsp;</td>
                            <td style="text-align: right;">Website: http://xevietnam.com.vn - ĐƯỜNG <strong>D&Acirc;Y N&Oacute;NG: <span style="font-size: 10.6667px;">19001155</span></strong></td>
                        </tr>
                        <tr>
                            <td colspan="3"><hr /></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width: 909px; font-size: 10px; height: 168px;">
                    <tbody>
                        <tr>
                            <td><strong><span style="text-decoration: underline;">Quy định về gửi h&agrave;ng:</span></strong> Khai đ&uacute;ng, khai đủ nội dung tr&ecirc;n bi&ecirc;n nhận gửi h&agrave;ng -Kh&ocirc;ng gửi những mặt h&agrave;ng cấm m&agrave; nh&agrave; nước quy định - Đối với những l&ocirc; h&agrave;ng c&oacute; gi&aacute; trị cao, người gửi phải y&ecirc;u cầu nh&acirc;n vi&ecirc;n&nbsp;X.E Việt Nam kiểm, nhận h&agrave;ng theo thực tế v&agrave; h&oacute;a đơn k&egrave;m theo h&agrave;ng - Người gửi phải chịu tr&aacute;ch nhiệm ho&agrave;n to&agrave;n về nguồn gốc, chứng từ h&oacute;a đơn v&agrave; xuất xứ h&agrave;ng h&oacute;a.</td>
                        </tr>
                        <tr>
                            <td><strong><span style="text-decoration: underline;">Bồi thường mất h&agrave;ng:</span></strong> Đối với c&aacute;c t&agrave;i liệu chuyển ph&aacute;t bằng phong b&igrave;,&nbsp;X.E chỉ bồi thường tối&nbsp;đa&nbsp;200.000đ/1 phong b&igrave; cho mọi trường hợp. Những t&agrave;i liệu gi&aacute; trị phải được th&ocirc;ng b&aacute;o ngay khi gửi cho nh&acirc;n vi&ecirc;n giao dịch v&agrave; ghi r&otilde; gi&aacute; trị khi mất phải bồi thường.<br /> Đối với c&aacute;c l&ocirc; h&agrave;ng c&oacute; GTGT k&egrave;m theo v&agrave; được hai b&ecirc;n kiểm tra khi gửi: X.E Việt Nam&nbsp;bồi thường theo gi&aacute; trị của h&oacute;a đơn ( y&ecirc;u cầu ghi r&otilde; gi&aacute; trị tr&ecirc;n bi&ecirc;n nhận khi gửi h&agrave;ng). C&ograve;n trong mọi trường hợp kh&aacute;c gi&aacute; trị bồi thường kh&ocirc;ng vượt qu&aacute; 200.00đ/kg.<br />X.E Việt Nam&nbsp;kh&ocirc;ng chịu tr&aacute;ch nhiệm bồi thường trong c&aacute;c trường hợp: H&agrave;ng gửi vi phạm Ph&aacute;p luật bị c&aacute;c cơ quan thẩm quyền của nh&agrave; nước thu giữ - Kh&aacute;ch h&agrave;ng kh&ocirc;ng c&oacute; giấy bi&ecirc;n nhận x&aacute;c nhận việc chuyển, gửi của C&ocirc;ng ty X.E Việt Nam. Sau khi nh&acirc;n vi&ecirc;n&nbsp;X.E Việt Nam th&ocirc;ng b&aacute;o về việc h&agrave;ng&nbsp;đ&atilde; vềề&nbsp;điểm nhận h&agrave;ng, sau 5 ng&agrave;y kể từ thời&nbsp;điểm tr&ecirc;n, nếu kh&aacute;ch h&agrave;ng kh&ocirc;ng qua nhận h&agrave;ng, c&ocirc;ng ty sẽ kh&ocirc;ng chịu tr&aacute;ch nhiệm về t&igrave;nh trạng h&agrave;ng h&oacute;a tr&ecirc;n.<br /> <strong><span style="text-decoration: underline;">Khiếu nại :</span></strong> Trong trường hợp ph&aacute;t h&agrave;ng chậm trễ do lỗi của người gửi hoặc do những trường hợp bất khả kh&aacute;ng th&igrave; hai b&ecirc;n sẽ th&ocirc;ng b&aacute;o cho nhau những thay đổi về thời gian v&agrave; kh&ocirc;ng được khiếu nại. C&ocirc;ng ty X.E Việt Nam&nbsp;kh&ocirc;ng chịu tr&aacute;ch nhiệm kh&ocirc;ng ph&aacute;t được do lỗi của người gửi hoặc người nhận từ chối nhận.</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<hr />
<table style="height: 513px; width: 914px; font-size: 13px; text-align: left; margin-top: 10px;">
    <tbody>
        <tr>
            <td style="width: 30%; vertical-align: top; text-align: left;"><img src="/Content/chonve/nhaxe/logoha.png" alt="" height="90" /></td>
            <td style="vertical-align: top;" colspan="2">
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="text-align: left; vertical-align: top; font-size: 20px; font-family: initial; font-weight: bold; font-style: italic;" colspan="2">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: left; font-size: 20px; font-family: initial; font-weight: bold; font-style: italic;">VẬN ĐƠN VẬN TẢI H&Agrave;NG H&Oacute;A</td>
                                            <td>&nbsp; &nbsp;</td>
                                            <td style="text-align: right; font-size: 14px; font-weight: bold;">Giờ gửi: [GIO]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center; width: 300px; font-size: 15px;">
                                <p style="font-style: italic; margin: 4px;">Ng&agrave;y [NGAY] th&aacute;ng [THANG] năm [NAM]</p>
                                <p style="font-style: italic; margin: 0px;"><strong>Li&ecirc;n 2&nbsp;: Lưu</strong></p>
                            </td>
                            <td style="vertical-align: top;">
                                <table style="width: 177px; height: 39px; float: right;">
                                    <tbody>
                                        <tr>
                                            <td class="BarCodePhieuGui"><strong>&nbsp;</strong></td>
                                            <td style="border: 1px solid #000000; width: 230px; height: 25px; text-align: left; position: relative; padding-top: 7px; padding-left: 3px; font-size: 14px;"><strong><span style="font-size: 12pt;">Số:&nbsp;[MA]&nbsp;</span></strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 60%; vertical-align: top;">
                                <table style="width: 392px; height: 45px;">
                                    <tbody>
                                        <tr>
                                            <td style="text-decoration: underline; font-size: 15px;"><strong>VĂN PH&Ograve;NG GỬI</strong></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Văn ph&ograve;ng:</strong> [VPGUI_TEN]([VPGUI_MA])</td>
                                            <td>ĐT:&nbsp;[VPGUI_DIENTHOAI]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="vertical-align: top;">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="text-decoration: underline; font-size: 15px;"><strong>VĂN PH&Ograve;NG NHẬN</strong></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Văn ph&ograve;ng:</strong> [VPNHAN_TEN]([VPNHAN_MA])</td>
                                            <td>ĐT:&nbsp;[VPNHAN_DIENTHOAI]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table style="width: 100%; border-collapse: collapse; font-size: 13px; border-color: #000000;" border="1" cellspacing="5px" cellpadding="5px">
                    <tbody>
                        <tr style="width: 50%;">
                            <td>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table style="width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 120px;"><strong>NGƯỜI NHẬN :</strong></td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Họ t&ecirc;n người nhận :</td>
                                                            <td>[NGUOINHAN_TEN] - [NGUOINHAN_DIENTHOAI]</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Địa chỉ:</td>
                                                            <td>[NGUOINHAN_DIACHI]</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table style="width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 120px;"><strong>NGƯỜI GỬI :</strong></td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Họ t&ecirc;n người gửi :</td>
                                                            <td>[NGUOIGUI_TEN] - [NGUOIGUI_DIENTHOAI]</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Địa chỉ :</td>
                                                            <td>[NGUOIGUI_DIACHI]</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>Th&ocirc;ng tin h&agrave;ng:<br /> [THONGTINHANGLIEN2]</td>
                        </tr>
                        <tr>
                            <td>
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td>Cước ph&iacute; : &nbsp; [CUOC_PHI]</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="width: 60px;">Ph&iacute; kh&aacute;c :</td>
                                            <td><strong>NTN : [CUOC_NHAN_TAN_NOI]; &nbsp;TTN : [CUOC_TRA_TAN_NOI]; &nbsp;TG : &nbsp;[CUOC_TRI_GIA]; &nbsp;CT : [CUOC_CAP_TOC]; &nbsp;VT : [CUOC_VUOT_TUYEN]</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td style="vertical-align: top;">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="width: 110px;">Tổng cước đ&atilde; TT:</td>
                                            <td>[TIEN_CUOC_DA_THANH_TOAN]</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="width: 130px;">Tổng cước chưa TT :</td>
                                            <td>[TIEN_CUOC_CHUA_THANH_TOAN]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top; height: 73px;" colspan="3">
                <table style="width: 100%;">
                    <tbody>
                        <tr>
                            <td style="width: 40%; text-align: center; vertical-align: top;"><strong>NGƯỜI GỬI</strong><br />(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</td>
                            <td>&nbsp;</td>
                            <td style="width: 40%; text-align: center; vertical-align: top;"><strong>NH&Acirc;N VI&Ecirc;N GIAO NHẬN</strong><br />(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: left; font-size: 11px; text-decoration: underline;" colspan="3"><strong>QU&Yacute; KH&Aacute;CH H&Agrave;NG LƯU &Yacute;:</strong></td>
        </tr>
        <tr>
            <td colspan="3">
                <table style="width: 100%; font-size: 9px; font-style: italic; text-align: left;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 5px;">Khi h&agrave;ng về đến chi nh&aacute;nh cuối c&ugrave;ng trả h&agrave;ng sẽ c&oacute; th&ocirc;ng b&aacute;o được gửi tới số điện thoại người nhận ( v&igrave; vậy mong qu&yacute; kh&aacute;ch ghi r&otilde; số điện thoại người nhận )</td>
                            <td style="width: 100px; border-right: 1px solid #000000;">&nbsp;</td>
                            <td style="text-align: right;">Website: http://xevietnam.com.vn - ĐƯỜNG&nbsp;<strong>D&Acirc;Y N&Oacute;NG:&nbsp;19001155</strong></td>
                        </tr>
                        <tr>
                            <td colspan="3"><hr /></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp; &nbsp;&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table>
    <tbody>
        <tr class="repeat">
            <td>
                <table style="height: 145px; width: 920px; font-size: 13px; text-align: left; margin-top: 2px;">
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td style="width: 30%; vertical-align: top; text-align: left;"><img src="/Content/chonve/nhaxe/logoha.png" alt="" height="90" /></td>
                                            <td style="text-align: left; vertical-align: top; font-size: 18px; font-family: initial; font-weight: bold; font-style: italic;" colspan="2">
                                                <table style="width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="text-align: left; font-size: 20px; font-family: initial; font-weight: bold; font-style: italic;">VẬN ĐƠN VẬN TẢI H&Agrave;NG H&Oacute;A</td>
                                                            <td>&nbsp; &nbsp;</td>
                                                            <td style="text-align: right; font-size: 14px; font-weight: bold;">Giờ gửi: [GIO]</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="text-align: center;">
                                                <p style="font-style: italic; margin: 4px;">Ng&agrave;y [NGAY] th&aacute;ng [THANG] năm [NAM]</p>
                                            </td>
                                            <td style="text-align: right;">
                                                <p style="font-style: italic; margin: 0px;"><strong>Li&ecirc;n 3 : D&aacute;n</strong></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;" colspan="3">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td colspan="3">
                                                <table style="width: 100%;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 50%; vertical-align: top;">
                                                                <table style="width: 391px; height: 45px;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="text-decoration: underline; font-size: 15px;"><strong>VĂN PH&Ograve;NG GỬI</strong></td>
                                                                            <td><strong><span style="font-size: 11pt;">Số: [MA]&nbsp;</span></strong></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><strong>Văn ph&ograve;ng :</strong> [VPGUI_TEN]([VPGUI_MA])</td>
                                                                            <td>ĐT:&nbsp;[VPGUI_DIENTHOAI]</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td style="vertical-align: top;">
                                                                <table style="width: 100%;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="text-decoration: underline; font-size: 15px;"><strong>VĂN PH&Ograve;NG NHẬN</strong></td>
                                                                            <td>&nbsp;</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><strong>Văn ph&ograve;ng :</strong> [VPNHAN_TEN]([VPNHAN_MA])</td>
                                                                            <td>ĐT:&nbsp;[VPNHAN_DIENTHOAI]</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table style="width: 100%; border-collapse: collapse; font-size: 13px; border-color: #000000;" border="1" cellspacing="5px" cellpadding="5px">
                                                    <tbody>
                                                        <tr style="width: 50%;">
                                                            <td>
                                                                <table>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <table style="width: 100%;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 120px;"><strong>NGƯỜI NHẬN :</strong></td>
                                                                                            <td>&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Họ t&ecirc;n người nhận :</td>
                                                                                            <td>[NGUOINHAN_TEN] - [NGUOINHAN_DIENTHOAI]</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Địa chỉ:</td>
                                                                                            <td>[NGUOINHAN_DIACHI]</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <table style="width: 100%;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="width: 120px;"><strong>NGƯỜI GỬI :</strong></td>
                                                                                            <td>&nbsp;</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Họ t&ecirc;n người gửi :</td>
                                                                                            <td>[NGUOIGUI_TEN] - [NGUOIGUI_DIENTHOAI]</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Địa chỉ :</td>
                                                                                            <td>[NGUOIGUI_DIACHI]</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td>Th&ocirc;ng tin h&agrave;ng:<br /> [THONGTINHANG]</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table style="width: 100%;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Cước ph&iacute; : &nbsp; [CUOC_PHI]</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table style="width: 100%;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="width: 60px;">Ph&iacute; kh&aacute;c :</td>
                                                                            <td><strong>NTN : [CUOC_NHAN_TAN_NOI]; &nbsp;TTN : [CUOC_TRA_TAN_NOI]; &nbsp;TG : [CUOC_TRI_GIA]; &nbsp;CT : [CUOC_CAP_TOC]; &nbsp;VT : [CUOC_VUOT_TUYEN]</strong></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td style="vertical-align: top;">
                                                                <table style="width: 100%;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="width: 110px;">Tổng cước đ&atilde; TT:</td>
                                                                            <td>[TIEN_CUOC_DA_THANH_TOAN]</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table style="width: 100%;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="width: 130px;">Tổng cước chưa TT :</td>
                                                                            <td>[TIEN_CUOC_CHUA_THANH_TOAN]</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;" colspan="3">
                                <table style="width: 100%; height: 75px;">
                                    <tbody>
                                        <tr>
                                            <td style="width: 40%; text-align: center; vertical-align: top;"><strong>NGƯỜI NHẬN H&Agrave;NG</strong><br />(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</td>
                                            <td>&nbsp;</td>
                                            <td style="width: 40%; text-align: center; vertical-align: top;"><strong>NH&Acirc;N VI&Ecirc;N GIAO NHẬN</strong><br />(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left; font-size: 11px; text-decoration: underline;" colspan="3"><strong>QU&Yacute; KH&Aacute;CH H&Agrave;NG LƯU &Yacute;:</strong></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table style="width: 100%; font-size: 9px; font-style: italic; text-align: left;">
                                    <tbody>
                                        <tr>
                                            <td style="padding-left: 5px;">Khi h&agrave;ng về đến chi nh&aacute;nh cuối c&ugrave;ng trả h&agrave;ng sẽ c&oacute; th&ocirc;ng b&aacute;o được gửi tới số điện thoại người nhận ( v&igrave; vậy mong qu&yacute; kh&aacute;ch ghi r&otilde; số điện thoại người nhận )</td>
                                            <td style="width: 100px; border-right: 1px solid #000000;">&nbsp;</td>
                                            <td style="text-align: right;">Website: http://xevietnam.com.vn - ĐƯỜNG&nbsp;<strong>D&Acirc;Y N&Oacute;NG:&nbsp;19001155</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </td>
        </tr>
    </tbody>
</table>